<div
    class="flex min-w-0 flex-auto flex-col items-center sm:flex-row sm:justify-center md:items-start md:justify-start"
>
    <div
        class="w-full bg-white px-4 py-8 sm:w-auto sm:p-12 md:flex md:h-full md:w-1/2 md:items-center md:justify-end md:p-16"
    >
        <div class="mx-auto w-full max-w-80 sm:mx-0 sm:w-80">
            <!-- Logo -->
            <div class="w-12">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROTKn0j9cVpA67LPdjPeYBR3KnWiwP1gsM3cS27rca-7m8BgvgUylY4uhBnOnVnXFx8Is&usqp=CAU" />
            </div>

            <!-- Title -->
            <div
                class="mt-8 text-4xl font-extrabold leading-tight tracking-tight"
            >
                Forgot password?
            </div>
            <div class="mt-0.5 font-medium">
                Fill the form to reset your password
            </div>

            <!-- Alert -->
            @if (showAlert) {
                <fuse-alert
                    class="mt-8"
                    [appearance]="'outline'"
                    [showIcon]="false"
                    [type]="alert.type"
                    [@shake]="alert.type === 'error'"
                >
                    {{ alert.message }}
                </fuse-alert>
            }

            <!-- Forgot password form -->
            <form
                class="mt-8"
                [formGroup]="forgotPasswordForm"
                #forgotPasswordNgForm="ngForm"
            >
                <!-- Email field -->
                <mat-form-field class="w-full">
                    <mat-label>Email address</mat-label>
                    <input id="email" matInput [formControlName]="'email'" />
                    @if (forgotPasswordForm.get('email').hasError('required')) {
                        <mat-error> Email address is required </mat-error>
                    }
                    @if (forgotPasswordForm.get('email').hasError('email')) {
                        <mat-error>
                            Please enter a valid email address
                        </mat-error>
                    }
                </mat-form-field>

                <!-- Submit button -->
                <button
                    class="fuse-mat-button-large mt-3 w-full"
                    mat-flat-button
                    [color]="'primary'"
                    [disabled]="forgotPasswordForm.disabled"
                    (click)="sendResetLink()"
                >
                    @if (!forgotPasswordForm.disabled) {
                        <span> Send reset link </span>
                    }
                    @if (forgotPasswordForm.disabled) {
                        <mat-progress-spinner
                            [diameter]="24"
                            [mode]="'indeterminate'"
                        ></mat-progress-spinner>
                    }
                </button>

                <!-- Form footer -->
                <div class="text-secondary mt-8 text-md font-medium">
                    <span>Return to</span>
                    <a
                        class="ml-1 text-primary-500 hover:underline"
                        [routerLink]="['/sign-in']"
                        >sign in
                    </a>
                </div>
            </form>
        </div>
    </div>
    <div
        class="relative hidden h-full w-1/2 flex-auto items-center justify-center overflow-hidden bg-cyan-400 p-16 md:flex lg:px-28"
    >
        <!-- Content -->
        <div class="relative z-10 w-full max-w-2xl">
            <div class="text-7xl font-bold leading-none text-white">
                <div>Geminia Insurance</div>
                <div>Platform</div>
            </div>
            <div class="mt-6 text-lg leading-6 tracking-tight text-white">
                Get marine insurance in just a few clicks! Ask us about your insurance needs any time!.
            </div>
        </div>
    </div>
</div>